/* CarLoan.css */
.apply-loan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.apply-button {
  font-size: 18px; /* Adjust the font size */
  padding: 12px 24px; /* Add padding to the button */
  border-radius: 30px; /* Round the corners of the button */
  transition: background-color 0.3s, transform 0.2s; /* Add transition effects */
}

.apply-button:hover {
  background-color: #2196f3; /* Change background color on hover */
  transform: scale(1.05); /* Add a slight scaling effect on hover */
}
.car-loan-card {
  text-align: center; /* Center the content horizontally */
  margin-bottom: 20px;
}

.car-loan-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.car-logo img {
  width: 100%; /* Ensure the image spans the entire width of the card */

  margin: 0 auto; /* Center the image horizontally within the card */
}

/* Add responsive styling if needed */
@media (max-width: 768px) {
  .apply-button {
    font-size: 16px; /* Adjust the font size for smaller screens */
    padding: 10px 20px; /* Adjust padding for smaller screens */
  }
}
